<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="acc1" class="com.kodewala.account.Account">

		<property name="firstName" value="kodewala" />
		<property name="lastName" value="academy" />

	</bean>
	
	<bean id="acc2" class="com.kodewala.account.Account">

		<property name="firstName" value="raj" />
		<property name="lastName" value="sharma" />

	</bean>
</beans>